.login{
  display: grid;
  height: 100vh;
  place-items: center;
  width: 100%;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  justify-items: center;
}

.logo{
  display: none;
  justify-self: center;
  margin-bottom: 48px;
  width: 150px;
}

.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}

.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0px;
  text-align: center;
}

.email-img{
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: grid;
  place-items: center;
  margin-bottom: 24px;
}

.email-img img {
  width: 80px;
}

.resend {
  font-size: var(--sm);
}

.resend span{
  color: var(--very-light-pink);
}

.resend a {
  color: var(--hospital-green);
  text-decoration: none;
}

.primary-button{
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.login-button{
  margin-bottom: 30px;
  margin-top: 14px;
}

@media (max-width: 640px) {
    .logo {
      display: block;
    }
}
